ion-toolbar{
    --background: var(--ion-color-primary);
     color: white;
}

ion-buttons{
    width : 40px;  
ion-icon{
    font-size: 25px;
}

}


img{
    width: 90px;
    height: auto;
}


ion-avatar{
    width: 30px;
    height: auto;
    margin-right: 10px;
}