<ion-content>
  <app-header></app-header>

  <h1 class="title">Tareas de equipo</h1>

<ion-grid fixed>
  <ion-row>


    <ion-col *ngFor="let i of [1,1,1,1,1,1]" size="4">
      <ion-card>
        <div>
          <ion-title>Title</ion-title>
        </div>
 
           <p>descripcion</p> 
           <p>Asignado por</p>
           <p>Reponsable</p>  
           <p>dd/mm/aaa - dd/mm/aaa</p>
           <p>Estatus</p>
           
        
      </ion-card>


    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-grid>


</ion-content>
