<app-header></app-header>
<ion-content>

  <form class=" d-flex align-items-center justify-content-center" [formGroup]="form" (ngSubmit)="Submit()">

        <ion-card class="ion-padding">
    <h1>Crear tarea</h1>

            <!---------------------------TITULO---------------------------------------->  
            <div class="did-floating-label-content">
              <input class="did-floating-input" formControlName="title" type="text" placeholder=" ">
              <label class="did-floating-label">
                <ion-icon name="brush"></ion-icon>
                Título</label>
        
              <div style="padding-top: 10px;" *ngIf="(title.touched) && title.errors">
                <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
                  <span *ngIf="title.errors?.required">Este campo es requerido</span>
                  <span *ngIf="title.errors?.email">Ingresa el título de la tarea</span>
                </div>
              </div>
            </div>
    
          
    
    <!---------------------------DESCRIPCION---------------------------------------->
    
    <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="descripcion" type="text" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="document-text"></ion-icon>
        Descripción</label>

      <div style="padding-top: 10px;" *ngIf="(descripcion.touched) && descripcion.errors">
        <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="descripcion.errors?.required">Este campo es requerido</span>
          <span *ngIf="descripcion.errors?.descripcion">Ingresa la descripción</span>
        </div>
      </div>
    </div>

     
    
    <!---------------------------FECHA DE CREACIÓN---------------------------------------->
    
    <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="fechaDeCreacion" type="date" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="calendar-clear"></ion-icon>
        Fecha de creación</label>

      <div style="padding-top: 10px;" *ngIf="(fechaDeCreacion.touched) && fechaDeCreacion.errors">
        <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="fechaDeCreacion.errors?.required">Este campo es requerido</span>
          <span *ngIf="fechaDeCreacion.errors?.fechaDeCreacion">Ingresa la fecha de creación</span>
        </div>
      </div>
    </div>

     <!---------------------------FECHA DE FINALIZACIÓN---------------------------------------->
    
     <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="FechaDeFinalizacion" type="date" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="calendar-clear"></ion-icon>
        Fecha de finalización</label>

      <div style="padding-top: 10px;" *ngIf="(FechaDeFinalizacion.touched) && FechaDeFinalizacion.errors">
        <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="FechaDeFinalizacion.errors?.required">Este campo es requerido</span>
          <span *ngIf="FechaDeFinalizacion.errors?.FechaDeFinalizacion">Ingresa la fecha de finalización</span>
        </div>
      </div>
    </div>
      
  <!---------------------------ESTATUS---------------------------------------->
    
  <div class="did-floating-label-content">
    
    <ion-item class="did-floating-input ion-no-padding">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estatus</ion-label>
      <ion-select class="custom-options">
        <ion-select-option value="pendiente">Pendiente</ion-select-option>
        <ion-select-option value="enProceso">En proceso</ion-select-option>
        <ion-select-option value="realizada">Realizado</ion-select-option>
        
      </ion-select>
    </ion-item>
    

    <div style="padding-top: 10px;" *ngIf="(estatus.touched) && estatus.errors">
      <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
        <span *ngIf="estatus.errors?.required">Estatus</span>
        <span *ngIf="estatus.errors?.estatus">Ingresa el estatus</span>
      </div>
    </div>
  </div>


    <!---------------------------ID DEL EMPLEADO CREADOR---------------------------------------->
    
    <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="empleadoCreador" type="text" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="finger-print"></ion-icon>
        ID del empleado creador</label>

      <div style="padding-top: 10px;" *ngIf="(empleadoCreador.touched) && empleadoCreador.errors">
        <div style="border-radius: 20px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="empleadoCreador.errors?.required">Este campo es requerido</span>
          <span *ngIf="empleadoCreador.errors?.empleadoCreador">Ingresa el ID</span>
        </div>
      </div>
    </div>

    
    <!---------------------------ID DEL EMPLEADO ASIGNADO---------------------------------------->
    
    <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="empleadoAsignado" type="text" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="finger-print"></ion-icon>
        ID del empleado asignado</label>

      <div style="padding-top: 10px;" *ngIf="(empleadoAsignado.touched) && empleadoAsignado.errors">
        <div style="border-radius: 20px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="empleadoAsignado.errors?.required">Este campo es requerido</span>
          <span *ngIf="empleadoAsignado.errors?.empleadoAsignado">Ingresa el ID</span>
        </div>
      </div>
    </div>

          <!---------------------------Button---------------------------------------->
      <div class="ion-text-center">
        <ion-button (click)="onClick()">
         Crear
       </ion-button>
      </div>
       
        </ion-card>
    

    
    
    
    
    
    
    
      </form>



</ion-content>
