.empleados span{
    color: var(--ion-color-dark);
    font-weight: 300;
}

.empleados{
    color: var(--ion-color-primary);
}

ion-buttons{
    width:80px;
}

.item-icon{
    font-size: 23px;
}

.to-update{
--background: rgb(214, 240, 255);
}