<ion-content>
  <app-header></app-header>
  <form class=" d-flex align-items-center justify-content-center" [formGroup]="form" (ngSubmit)="Submit()">

        <ion-card class="ion-padding">
    <h1>Crear nuevo rol</h1>

            <!---------------------------TITULO---------------------------------------->  
            <div class="did-floating-label-content">
              <input class="did-floating-input" formControlName="nombre" type="text" placeholder=" ">
              <label class="did-floating-label">
                <ion-icon name="person-add"></ion-icon>
                Nombre</label>
        
              <div style="padding-top: 10px;" *ngIf="(nombre.touched) && nombre.errors">
                <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
                  <span *ngIf="nombre.errors?.required">Este campo es requerido</span>
                  <span *ngIf="nombre.errors?.nombre">Ingresa el nombre</span>
                </div>
              </div>
            </div>
    
          
    
    <!---------------------------DESCRIPCION---------------------------------------->
    
    <div class="did-floating-label-content">
      <input class="did-floating-input" formControlName="descripcion" type="text" placeholder=" ">
      <label class="did-floating-label">
        <ion-icon name="document-text"></ion-icon>
        Descripción</label>

      <div style="padding-top: 10px;" *ngIf="(descripcion.touched) && descripcion.errors">
        <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="descripcion.errors?.required">Este campo es requerido</span>
          <span *ngIf="descripcion.errors?.descripcion">Ingresa la descripción</span>
        </div>
      </div>
    </div>

      
    <!---------------------------ID DEL EMPLEADO CREADOR---------------------------------------->
    
    <div class="did-floating-label-content">

      <ion-item class="did-floating-input ion-no-padding">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Rango</ion-label>
        <ion-select formControlName="rango" class="custom-options">
          <ion-select-option  value="1">1</ion-select-option>
          <ion-select-option  value="2">2</ion-select-option>
          <ion-select-option  value="3">3</ion-select-option>
        </ion-select>
      </ion-item>


      <div style="padding-top: 10px;" *ngIf="(rango.touched) && rango.errors">
        <div style="border-radius: 5px; font-size: 13px;padding: 0; padding-left: 10px;" class="alert alert-danger">
          <span *ngIf="rango.errors?.required">Seleccione el rango</span>
          
        </div>
      </div>
    </div>

  
          <!---------------------------Button---------------------------------------->
      <div class="ion-text-center">
        <ion-button [disabled]="form.invalid" (click)="submit()">
         {{id.value ? 'Editar' : 'Crear'}}
       </ion-button>
      </div>
       
        </ion-card>
    
      </form>

<div class=" d-flex align-items-center justify-content-center">
<ion-card>
<div>
  <h1>Lista de roles</h1>
</div>
<hr style="  border-top: 2px solid gray;">
  <ion-list>
    <ion-item [ngClass]="id.value && id.value == r.id ? 'to-update' : ''" *ngFor="let r of roles">
      <ion-label>
        
        <div class="empleados">
          Nombre: <span>{{r.nombre}} </span>
        </div>
        <div class="empleados">
          Rango: <span>{{r.rango}} </span>
        </div>
        <div class="empleados">
          Descripcion: <span>{{r.descripcion}} </span>
        </div>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="selectToUpdate(r)">
          <ion-icon class="item-icon" name="create-outline"></ion-icon>         
        </ion-button>
        <ion-button (click)="deleteRole(r.id)">
          <ion-icon class="item-icon" name="trash-outline"></ion-icon>         
        </ion-button>
      </ion-buttons>
    </ion-item>  
  </ion-list>


</ion-card>  
</div>





</ion-content>

